body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #673ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.painel {
  background-color: #fff;
  width: 80%;
  max-width: 400px;
  max-height: 90%;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.painel h1 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.painel img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.painel h2 {
  font-size: 1.2rem;
  margin: 20px 0;
}

.painel buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#sim,
#nao {
  height: 40px;
  width: 85px;
  background-color: #673ab7;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

#sim {
  margin-left: -95px;
  transition: transform 0.2s ease;
}

#sim:hover {
  transform: scale(1.1);
}

#nao {
  position: absolute;
  transition: top 0.4s ease, left 0.4s ease;
}
